/* line 6, ../../app/assets/stylesheets/home.css.scss */
#intro, #home_search {
  width: 380px;
  height: 400px;
  padding: 20px;
  margin-left: 10px;
}

/* line 15, ../../app/assets/stylesheets/home.css.scss */
#intro {
  border-right: 3px solid black;
}

/* line 20, ../../app/assets/stylesheets/home.css.scss */
#intro ul li {
  margin-left: 40px;
  list-style-type: circle;
}

/* line 26, ../../app/assets/stylesheets/home.css.scss */
#home_search h1 {
  font-size: 30px;
}
