/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@font-face {
  font-family: "UnderwoodChampionRegular";
  src: url(/assets/fonts/underwood_champion-webfont.ttf) format('truetype');
}

/* line 8, ../../app/assets/stylesheets/screen.css.scss */
body {
  font-family: "Courier";
  background: #f1ecd6 url(images/grunge.png) repeat-x;
}

/* line 14, ../../app/assets/stylesheets/screen.css.scss */
#wrapper {
  width: 900px;
  height: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f1ecd6;
  -webkit-box-shadow: black 2px 2px 30px;
  -moz-box-shadow: black 2px 2px 30px;
  box-shadow: black 2px 2px 30px;
  background: url(images/wrinkled.png) no-repeat;
}

/* line 25, ../../app/assets/stylesheets/screen.css.scss */
h1 {
  font-size: 40px;
}

/* line 30, ../../app/assets/stylesheets/screen.css.scss */
.left {
  float: left;
}

/* line 35, ../../app/assets/stylesheets/screen.css.scss */
#header {
  font-family: "UnderwoodChampionRegular";
  margin-bottom: 30px;
}
/* line 40, ../../app/assets/stylesheets/screen.css.scss */
#header h1 a {
  text-decoration: none;
  color: black;
}

/* line 48, ../../app/assets/stylesheets/screen.css.scss */
#nav li {
  float: right;
  margin-right: 20px;
}
/* line 53, ../../app/assets/stylesheets/screen.css.scss */
#nav li a {
  text-decoration: none;
  color: black;
}
/* line 45, ../../app/assets/stylesheets/_base.scss */
#nav li a:hover {
  border-bottom: 2px solid black;
}

/* line 59, ../../app/assets/stylesheets/screen.css.scss */
#nav {
  float: right;
}

/* line 64, ../../app/assets/stylesheets/screen.css.scss */
.autocomplete_link {
  display: block;
  text-decoration: none;
  color: black;
  padding-left: .2em;
  padding-right: .2em;
}
/* line 29, ../../app/assets/stylesheets/_base.scss */
.autocomplete_link:hover {
  color: white;
  background-color: black;
}
