@font-face {
  font-family: "UnderwoodChampionRegular";
  src: url(/assets/fonts/underwood_champion-webfont.ttf) format('truetype');
}

/* line 10, ../../app/assets/stylesheets/words.css.scss */
#results_area {
  width: 400px;
  margin-right: 30px;
  float: left;
}

/* line 17, ../../app/assets/stylesheets/words.css.scss */
#search_subject {
  height: 50px;
}
/* line 22, ../../app/assets/stylesheets/words.css.scss */
#search_subject h1 {
  margin-right: 30px;
}

/* line 28, ../../app/assets/stylesheets/words.css.scss */
#subject_lists {
  margin-bottom: 20px;
}
/* line 32, ../../app/assets/stylesheets/words.css.scss */
#subject_lists p {
  margin: 5px 0px;
}
/* line 36, ../../app/assets/stylesheets/words.css.scss */
#subject_lists a {
  font-family: "UnderwoodChampionRegular";
  text-decoration: none;
  color: black;
  padding-left: .2em;
  padding-right: .2em;
}
/* line 29, ../../app/assets/stylesheets/_base.scss */
#subject_lists a:hover {
  color: white;
  background-color: black;
}
/* line 41, ../../app/assets/stylesheets/words.css.scss */
#subject_lists #current_list, #subject_lists #syllables {
  font-family: "UnderwoodChampionRegular";
}

/* line 48, ../../app/assets/stylesheets/words.css.scss */
#result_tabs {
  height: 450px;
  background-color: #f1ecd6;
}

/* line 66, ../../app/assets/stylesheets/words.css.scss */
.results_panel ul li {
  font-size: .8em;
  line-height: 1.5em;
}
/* line 71, ../../app/assets/stylesheets/words.css.scss */
.results_panel ul li a {
  text-decoration: none;
  color: black;
  padding-left: .2em;
  padding-right: .2em;
}
/* line 29, ../../app/assets/stylesheets/_base.scss */
.results_panel ul li a:hover {
  color: white;
  background-color: black;
}

/* line 77, ../../app/assets/stylesheets/words.css.scss */
.ui-tabs-anchor {
  font-family: "UnderwoodChampionRegular";
}

/* line 83, ../../app/assets/stylesheets/words.css.scss */
.divider {
  float: left;
}

/* line 89, ../../app/assets/stylesheets/words.css.scss */
#search_area {
  width: 275px;
  height: 400px;
  margin: 60px;
  padding: 20px;
  float: left;
  border: 3px solid black;
  font-size: 16px;
}
/* line 99, ../../app/assets/stylesheets/words.css.scss */
#search_area p {
  margin: 10px 0px;
  font-family: "UnderwoodChampionRegular";
}
/* line 104, ../../app/assets/stylesheets/words.css.scss */
#search_area input {
  font-size: 20px;
  height: 30px;
  display: block;
  font-family: "UnderwoodChampionRegular";
}

/* line 110, ../../app/assets/stylesheets/words.css.scss */
#select_list, #add_word_form {
  width: 300px;
  height: 500px;
  float: left;
}
/* line 116, ../../app/assets/stylesheets/words.css.scss */
#select_list h1, #add_word_form h1 {
  margin-bottom: 10px;
}
/* line 121, ../../app/assets/stylesheets/words.css.scss */
#select_list input, #add_word_form input {
  font-size: 20px;
  height: 30px;
  display: block;
  font-family: "UnderwoodChampionRegular";
}

/* line 127, ../../app/assets/stylesheets/words.css.scss */
#select_list {
  margin-right: 30px;
}

/* line 132, ../../app/assets/stylesheets/words.css.scss */
#list_results {
  background: white;
}

/* line 139, ../../app/assets/stylesheets/words.css.scss */
#select_list, #reference_list, #add_word_form {
  width: 250px;
  height: 500px;
  margin-right: 30px;
}
/* line 145, ../../app/assets/stylesheets/words.css.scss */
#select_list h1, #reference_list h1, #add_word_form h1 {
  font-size: 20px;
}

/* line 152, ../../app/assets/stylesheets/words.css.scss */
#reference_list {
  padding: 10px;
}
/* line 156, ../../app/assets/stylesheets/words.css.scss */
#reference_list h1 {
  margin-bottom: 30px;
}

/* line 165, ../../app/assets/stylesheets/words.css.scss */
#add_word_form input {
  margin-bottom: 20px;
}
