@font-face {
  font-family: "UnderwoodChampionRegular";
  src: url(/assets/fonts/underwood_champion-webfont.ttf) format('truetype');
}

@font-face {
  font-family: "MyUnderwoodRegular";
  src: url(/assets/fonts/MyUnderwood-webfont.ttf) format('truetype');
}

/* line 10, ../../app/assets/stylesheets/words.css.scss */
#results_area {
  width: 400px;
  margin-right: 30px;
  float: left;
}

/* line 17, ../../app/assets/stylesheets/words.css.scss */
#search_subject {
  height: 50px;
}
/* line 21, ../../app/assets/stylesheets/words.css.scss */
#search_subject h1 {
  margin-right: 30px;
}

/* line 27, ../../app/assets/stylesheets/words.css.scss */
#subject_lists {
  margin-bottom: 20px;
}
/* line 31, ../../app/assets/stylesheets/words.css.scss */
#subject_lists p {
  margin: 5px 0px;
}
/* line 35, ../../app/assets/stylesheets/words.css.scss */
#subject_lists a {
  font-family: "MyUnderwoodRegular";
  padding-left: .2em;
  padding-right: .2em;
  text-decoration: none;
  color: black;
}
/* line 33, ../../app/assets/stylesheets/_base.scss */
#subject_lists a:hover {
  color: white;
  background-color: black;
}
/* line 40, ../../app/assets/stylesheets/words.css.scss */
#subject_lists #current_list, #subject_lists #syllables {
  font-family: "MyUnderwoodRegular";
}

/* line 47, ../../app/assets/stylesheets/words.css.scss */
#result_tabs {
  height: 450px;
}

/* line 61, ../../app/assets/stylesheets/words.css.scss */
.results_panel ul li {
  font-size: .8em;
  line-height: 1.5em;
}
/* line 66, ../../app/assets/stylesheets/words.css.scss */
.results_panel ul li a {
  padding-left: .2em;
  padding-right: .2em;
  text-decoration: none;
  color: black;
}
/* line 33, ../../app/assets/stylesheets/_base.scss */
.results_panel ul li a:hover {
  color: white;
  background-color: black;
}

/* line 72, ../../app/assets/stylesheets/words.css.scss */
.ui-tabs-anchor {
  font-family: "MyUnderwoodRegular";
}

/* line 78, ../../app/assets/stylesheets/words.css.scss */
.divider {
  float: left;
}

/* line 84, ../../app/assets/stylesheets/words.css.scss */
#search_area {
  width: 275px;
  height: 400px;
  margin: 60px;
  padding: 20px;
  float: left;
  border: 3px solid black;
  font-size: 16px;
}
/* line 94, ../../app/assets/stylesheets/words.css.scss */
#search_area p {
  margin: 10px 0px;
  font-family: "MyUnderwoodRegular";
}

/* line 101, ../../app/assets/stylesheets/words.css.scss */
#select_list, #add_word_form {
  width: 300px;
  height: 500px;
  float: left;
}
/* line 107, ../../app/assets/stylesheets/words.css.scss */
#select_list h1, #add_word_form h1 {
  margin-bottom: 10px;
}

/* line 114, ../../app/assets/stylesheets/words.css.scss */
#select_list {
  margin-right: 30px;
}

/* line 119, ../../app/assets/stylesheets/words.css.scss */
#list_results {
  width: 240px;
  margin-left: 5px;
  font-size: 20px;
  background: white;
}

/* line 127, ../../app/assets/stylesheets/words.css.scss */
#select_list, #reference_list, #add_word_form {
  width: 240px;
  height: 500px;
  margin-right: 30px;
  font-size: 20px;
  padding: 0px 5px;
}
/* line 135, ../../app/assets/stylesheets/words.css.scss */
#select_list #list, #reference_list #list, #add_word_form #list {
  height: 400px;
  overflow: auto;
}
/* line 141, ../../app/assets/stylesheets/words.css.scss */
#select_list h1, #reference_list h1, #add_word_form h1 {
  font-size: 26px;
  margin-bottom: 30px;
}
/* line 147, ../../app/assets/stylesheets/words.css.scss */
#select_list h2, #reference_list h2, #add_word_form h2 {
  font-size: 15px;
  margin-bottom: 30px;
}

/* line 159, ../../app/assets/stylesheets/words.css.scss */
#add_word_form input {
  margin-bottom: 20px;
}

/* line 165, ../../app/assets/stylesheets/words.css.scss */
.clipboard {
  height: 42px;
  width: 42px;
  background: url(images/clipboard.png);
  float: right;
}
