#login_form
	%h1 Login

	%form
		%label{:for => 'username'}Username
		%input{:name => 'username', :type => 'text'}
		%label{:for => 'email'}Email
		%input{:name => 'email', :type => 'text'}
		%input{:type => 'submit'}