#login_form
	%h1 Login

	%form{:method => 'post', :action => users_login_path}
		%input{:name => 'username', :type => 'text', :placeholder => 'Username' }
		%input{:name => 'password', :type => 'password', :placeholder => 'Password' }
		%input{:type => 'submit'}