#register_form
	%h1 Register

	%form{:method => 'post', :action => users_register_path}
		%input{:name => 'user[username]', :type => 'text', :placeholder => 'Username' }
		%input{:name => 'user[password]', :type => 'password', :placeholder => 'Password' }
		%input{:name => 'password_confirmation', :type => 'password', :placeholder => 'Confirm Password' }
		%input{:type => 'submit'}