#intro.left
	%p Look up word associations for inspiration and ideas.
	%p A great tool for...
	%ul
		%li Journalists
		%li Lyricists
		%li Crossword Players
		%li and others...

#home_search.left
	%h1 Find words associated with:
	%form{:method => 'post', :action => words_search_path}
		%input{:name => 'subject', :type => 'text'}
		%input{:name => 'syllables', :value => '', :type => 'hidden'}
		%button{:type => 'submit', :value => 'Go'}Go