
@import "compass/css3";
@import "compass/typography/links/hover-link";
@import "compass/css3/box-shadow";

@include font-face("UnderwoodChampionRegular", font-files("fonts/underwood_champion-webfont.ttf"));

$main_color: #F1ECD6;

@mixin site_font {

	font-family: "UnderwoodChampionRegular";

}

@mixin centered {

	margin: 0 auto;
	display: block;
}