@import "compass/css3";
@import "compass/css3/box-shadow";
@import "compass/css3/images";

@include font-face("UnderwoodChampionRegular", font-files("fonts/underwood_champion-webfont.ttf"));
@include font-face("MyUnderwoodRegular", font-files("fonts/MyUnderwood-webfont.ttf"));

$main_color: #F1ECD6;
$manila_folder: #ffcc99;

@mixin site_font {

	font-family: "MyUnderwoodRegular";
}

@mixin title_font {

	font-family: 'MyUnderwoodRegular';
}

@mixin centered {

	margin: 0 auto;
	display: block;
}

@mixin link_highlight {
	
	padding-left: .2em;
	padding-right: .2em;
	text-decoration: none;
	color: black;
	&:hover {
		color: white;
		background-color: black;
	}
}

@mixin autocomplete_link {

	display: block;
	@include link_highlight;
}

@mixin autocomplete_results {

	width: 240px;
	margin-left: 5px;
	font-size: 20px;
	background: white;
}

@mixin link_nav {

	text-decoration: none;
	color: black;
	&:hover { border-bottom: 2px solid black; }
}

@mixin input_style {

		font-size: 20px;
		height: 30px;
		display: block;
		@include site_font;

}