@import "base";

#intro, #home_search {

	width: 370px;
	height: 400px;
	padding: 20px;
	margin-left: 10px;

}

#intro {

	font-size: 20px;
	
	p {
		margin-bottom: 20px;
	}
}

#intro ul li {

	margin-left: 40px;
	list-style-type: disc;
}

#home_search {
	
	h1 {
		margin-bottom: 10px;
		font-size: 26px;
	}
	
	input {
	
		float: left;
	}
	
	[type=submit] {
	
		height: 20px;
	}
}

#home_search_results {
	
	@include autocomplete_results;

}

