/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "base";

body {
	
	font-family: "Courier";
	background: $main_color url(images/grunge.png) repeat-x;
}
	
#wrapper {

	width: 900px;
	height: 900px;
	margin: 0 auto;
	padding: 20px;
	background-color: $main_color;
	@include box-shadow(black 2px 2px 30px);
	background: url(images/wrinkled.png) no-repeat;
}

h1 {

	font-size: 40px;
}

.left {

	float: left;
}

#header {

	@include site_font;
	margin-bottom: 30px;	
	
	h1 a {
	
		text-decoration: none;
		color: black;
	}
}


#nav li {

	float: right;
	margin-right: 20px;
	
	a {
	
		@include link_nav; 
	}
}

#nav {

	float: right;
}

.autocomplete_link {

	@include autocomplete_link;
}









