// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "base";

h1 {

	@include site_font;
}

#login_form, #register_form {
	
	width: 200px;
	@include centered;

	input {
		
		margin: 20px 0px;
	}

	label {
		
		font-size: 20px;
		margin: 10px 0px;
		@include site_font;
	}
	
	input[type=password] {
	
		font-family: 'Courier';	
	}
	
	h1 {
	
		margin-bottom: 20px;
	}
}