// Place all the styles related to the words controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// *= require jquery.ui.tabs
// *= require jquery.ui.theme
// *= require jquery.ui.core

@import "base";

#results_area {

	width: 400px;
	margin-right: 30px;
	float: left;
}

#search_subject {

	height: 50px;
	
	h1 {
	
		margin-right: 30px;
	}
}

#subject_lists {

	margin-bottom: 20px;
	
	p {
		margin: 5px 0px;
	}
	
	a {
		@include site_font;
		@include link_highlight; 
	}

	#current_list, #syllables {
	
		@include site_font;
	}
	
}

#result_tabs {
	
//	width: 350px;
	height: 450px;
//	overflow: auto;
//	background-color: $main_color;

}

//Tabs styling

.results_panel {
	
		
	ul li {
		
		font-size: .8em;
		line-height: 1.5em;
		
		a { 
			@include link_highlight; 
		}
	}
}

.ui-tabs-anchor {
	
	@include site_font;
}


.divider {

	float: left;
}
//Search area

#search_area {
	
	width: 275px;
	height: 400px;
	margin: 60px;
	padding: 20px;
	float: left;
	border: 3px solid black;
	font-size: 16px;	
	
	p {
		margin: 10px 0px;
		@include site_font;
	}
	
}

#select_list, #add_word_form {

	width: 300px;
	height: 500px;
	float: left;
	
	h1 {
	
		margin-bottom: 10px;
	}
	
}

#select_list {

	margin-right: 30px;
}

#list_results {

	@include autocomplete_results;

}

//New Word Page

#select_list, #reference_list, #add_word_form {

	width: 240px;
	height: 500px;
	margin-right: 30px;
	font-size: 20px;
	padding: 0px 5px;
	
	h1 {
		
		font-size: 26px;
		margin-bottom: 30px;
	}
	
	h2 {
	
		font-size: 15px;
		margin-bottom: 30px;
	}
		
}


#add_word_form {


	input {
	
		margin-bottom: 20px;
	}
}

