!!!
%html
	%head
		%title Word For Word
		%meta{:charset => "utf-8"}
		%meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
		%meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
		= stylesheet_link_tag :application, :media => "all"
		= javascript_include_tag :application
		= csrf_meta_tags
	%body
		#wrapper
			#header
				%ul#nav
					%li
						%a{:href => users_login_path}
							Login
					%li
						%a{:href => users_register_path}
							Register
					%li
						%a{:href => words_search_path}
							Search
					%li
						%a{:href => root_path}
							Home

				%h1 Word for Word
				
			= yield
			#footer
